@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-lime-800;
  }

  a:hover {
    text-decoration: underline;
  }

  * {
    box-sizing: border-box;
  }
}
